{% extends "base.html" %}

<head>

    {% block js_scripts %}
    <script src="/static/js/form_alert.js"></script>
    {% endblock %}
</head>

<body>
    {% block content %}
        <!-- Check if this page is returned to AFTER adding a car -->
        <div id="form_success"  hidden style="display: none;">
            {{ car_add_success }}
        </div>
            <!-- <input type="button" id="successful-car-add" hidden style="display: none;"> -->
    <div class="column is-4 is-offset-4">
        <h3 class="title">Add Car Form</h3>

        <div class="box">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="field">
                    <div class="control">
                    {% include "flash.html" %}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        {{ form.front_tag.label(class="label") }}
                        {{ form.front_tag(class="input is-medium", placeholder="Front Tag Id") }}
                        {% for error in form.front_tag.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        {{ form.middle_tag.label(class="label") }}
                        {{ form.middle_tag(class="input is-medium", placeholder="Middle Tag Id") }}
                        {% for error in form.middle_tag.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        {{ form.rear_tag.label(class="label") }}
                        {{ form.rear_tag(class="input is-medium", placeholder="Rear Tag Id") }}
                        {% for error in form.rear_tag.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <p>{{ form.submit(class="button is-block is-info is-large is-fullwidth is-link") }}</p>
            </form>
        </div>
    {% endblock %}
</body>
