<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../static/images/api.png">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="../static/css/bulma.min.css" />
    <link rel="stylesheet" href="../static/css/common.css" />

    <script src="../static/js/extern/jquery-3.5.1.min.js"></script>
    <script src="../static/js/navbar.js"></script>
</head>
<body class="has-navbar-fixed-top" style="background-color:white;">
    <div class="hero is-fullheight">
        <div class="hero-head">
            <nav class="navbar is-fixed-top has-background-grey-light" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{{ url_for('api') }}">
                      <img src="../static/images/api.png">
                    </a>

                    <!-- on mobile or page too small -->
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarSetup">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <!-- left side of navbar-->
                <div id="navbarSetup" class="navbar-menu">
                    <div class="navbar-start">
                        <div class="navbar-item">
                            <div class="buttons">
                                <a href="{{ url_for('api') }}" class="button is-primary">
                                    API URLs
                                </a>
                            </div>
                        </div>
                        <div class="navbar-item">
                            <div class="buttons">
                                <a href="{{ url_for('api_md') }}" class="button is-link">
                                    API Docs
                                </a>
                            </div>
                        </div>
                    </div> <!-- End of left navbar-->


                    <!-- right side of navbar-->
                    <div class="navbar-end">
                    </div>
                </div> <!-- close out navbar-->
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
